@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 200ms linear;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

.min-vh-100 {
    min-height: 100vh;
}

.w-100 {
    width: 100%;
}

.p-24 {
    padding: 24px;
}

.py-24 {
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mb-24 {
    margin-bottom: 24px;
}

.container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

article {
    overflow: hidden;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}


.cardBox {
    border-width: 0px solid #FFFFFF;
    border-radius: 20px;
    padding: 20px;
}

.bg-blue {
    background: #2C49FEBD;
}

.cardBtn.btnFill {
    padding: 20px 20px;
    border: 2px solid transparent;
    border-radius: 150px;
    background-color: white;
    color: #2C49FE;
}

/* we should use here class and root for these kinds of task! */
article h2 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 123.6%;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 12px;
}

/* we should use here class and root for these kinds of task! */
article p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150.6%;
    color: #7B7B7B;
    margin-bottom: 15px;
}

.iconBox {
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconBoxContainer {
    height: 100%;
    position: absolute;
    right: -40px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconBoxContainer>.iconBox:not(:last-child) {
    margin-bottom: 20px;
}

article:hover .iconBoxContainer {
    right: 0;
}

.iconBox:hover {
    background-color: #FF5300;
}

.iconBox:hover>svg path {
    fill: white;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

@media (min-width:576px) {
    .col-sm-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .col-sm-10 {
        width: 83.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .w-sm-50 {
        width: 50%;
    }

    .card {
        position: relative;
    }

    .card::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        top: 50%;
        left: 0;
        background-color: white;
        transform: translateY(-50%);
    }

    .card::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        top: 0;
        left: 50%;
        background-color: white;
        transform: translateX(-50%);
    }

}

@media (min-width:768px) {
    .col-md-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .w-md-33 {
        width: 33.33%;
    }

    .col-md-9 {
        width: 75%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .card::before {
        content: unset;
    }

    .card::after {
        content: unset;
    }

    .border-md-both {
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
}

@media (min-width:992px) {
    .col-lg-3 {
        width: 25%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .w-lg-25 {
        width: 25%;
    }

    .mb-lg-0 {
        margin-bottom: 0;
    }

    .justify-content-lg-end {
        justify-content: end;
    }

    .cardBox {
        border-width: 0px solid #FFFFFF;
        border-radius: 150px;
        padding: 20px;
    }


    .border-lg-right {
        border-right: 2px solid white;
    }
}